<form [formGroup]="formGroup">
  <div
    *ngFor="let key of currentAllFields; let i = index"
    class="flex items-center my-4"
    [ngClass]="{ 'my-4': currentAllFields.length !== i + 1 }"
  >
    <label class="w-24">
      <span>{{ key }}:</span>
      <span
        nz-tooltip
        [nzTooltipTitle]="jsonData[key]['expand'] ? 'Collapse' : 'Expand'"
        *ngIf="getFiledType(jsonData[key]) === fieldType.Object"
        class="cursor-pointer"
        (click)="onExpandChange(jsonData[key])"
      >
        {{ jsonData[key]['expand'] ? '-' : '+' }}</span
      >
    </label>

    <div [ngSwitch]="getFiledType(jsonData[key])">
      <ng-container *ngSwitchCase="fieldType.String">
        <input nz-input [formControlName]="key" nzSize="small" class="w-48" />
      </ng-container>
      <ng-container *ngSwitchCase="fieldType.Date">
        <nz-date-picker [formControlName]="key" class="w-48"></nz-date-picker>
      </ng-container>
      <ng-container *ngSwitchCase="fieldType.Number">
        <nz-input-number
          [formControlName]="key"
          nzSize="small"
          class="w-48"
        ></nz-input-number>
      </ng-container>
      <ng-container *ngSwitchCase="fieldType.Boolean">
        <nz-switch [formControlName]="key"></nz-switch>
      </ng-container>
      <ng-container *ngSwitchCase="fieldType.Object">
        <div
          [ngClass]="{
            'animate-fadeIn block': jsonData[key]['expand'],
            'animate-fadeOut hidden': !jsonData[key]['expand']
          }"
        >
          <app-form-field
            [jsonData]="jsonData[key]"
            [formGroup]="formGroup.get(key)"
          ></app-form-field>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="fieldType.SimpleArray">
        <nz-select [formControlName]="key" class="w-48">
          <nz-option
            *ngFor="let option of jsonData[key]"
            [nzValue]="option"
            [nzLabel]="option"
          >
          </nz-option>
        </nz-select>
      </ng-container>
      <ng-container *ngSwitchCase="fieldType.ObjectArray">
        <nz-tabset [nzSize]="'small'" [nzAnimated]="false">
          <nz-tab
            *ngFor="let group of formGroup.get(key)?.controls; let i = index"
            [nzTitle]="'No.' + (i + 1)"
          >
            <div [formGroup]="group" class="nested-group">
              <app-form-field
                [jsonData]="jsonData[key][i]"
                [formGroup]="group"
              ></app-form-field>
            </div>
          </nz-tab>
        </nz-tabset>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <input nz-input [formControlName]="key" nzSize="small" class="w-48" />
      </ng-container>
    </div>
  </div>
</form>
